@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne" , sans-serif;
  /* font-size: 14px; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}