/* Desktop styles (1025px and wider) */
@media screen and (min-width: 1025px) {
  .main2 {
    display: flex;
    justify-content: space-between;
    margin: 70px 200px 70px 200px;
  }
  .select {
    border: 1px solid #007bff;
    padding: 5px;
  }
  .select:focus {
    outline: none;
  }
  .cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px; /* Adjust spacing between items */
  }

  .cart1 {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.5s;
  }
  .cart1:hover {
    transform: translateY(-10px);
  }

  .rating i {
    color: #ffd700;
  }
  .container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 2em;
    /* background-color: #f9f9f9; */
  }
  .pageBtn {
    margin: 0 auto 80px;
  }
  .pageBtn span {
    display: inline-block;
    border: 1px solid #007bff;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  .pageBtn span:hover {
    background: #007bff;
    color: #fff;
  }
}
/* ==========================  Phone styles (up to 600px) =========================== */
@media (max-width: 600px) {
  .main2 {
    display: flex; /* Stacking elements vertically */
    margin: 20px 10px;
    gap: 2em;
  }

  .select {
    width: 50%; /* Make the select box full width */
    border: 1px solid #007bff;
    padding: 5px;
  }
  .select:focus {
    outline: none;
  }

  .cart {
    display: grid;
    grid-template-columns: 1fr; /* 1 item per row */
    gap: 15px; /* Adjust spacing between items */
  }

  .cart1 {
    padding: 8px; /* Adjust padding for smaller screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    /* padding: 10px;  */
    border-radius: 8px;
    transition: transform 0.5s;
  }
  .cart1:hover {
    transform: translateY(-10px);
  }

  .rating i {
    color: #ffd700;
  }

  .cart1 img {
    max-width: 70%; 
    height: 70%;
  }

  .container {
    flex-direction: column; 
    gap: 15px; 
    margin: 0 1em;
  }

  .pageBtn {
    margin: 20px auto;
    display: flex; 
    justify-content: center;
  }

  .pageBtn span {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
      cursor: pointer;
      border: 1px solid #007bff;
      text-align: center;
    }
  .pageBtn span:hover {
    background: #007bff;
    color: #fff;
  }
}
